version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html/public
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php
    networks:
      - app-network

  php:
    build: ./php
    volumes:
      - ./public:/var/www/html/public
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
